version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: url-modifier-app:latest
    container_name: spring-app
    ports:
      - "8080:8080"
    depends_on:
      - db
      - redis
    # environment:
    #   SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/mydb
    #   SPRING_DATASOURCE_USERNAME: myuser
    #   SPRING_DATASOURCE_PASSWORD: mypass
    #   SPRING_REDIS_HOST: redis
    #   SPRING_REDIS_PORT: 6379

  db:
    image: postgres:14
    container_name: postgres
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypass
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

volumes:
  db_data:
  redis_data:
